# PUID and PGID to map files to your host user. Run `id` in your terminal to find your values.
PUID=1000
PGID=1000

# Timezone
TZ=America/New_York

# Root folder for all data (configs, torrents, and media library)
# This directory should be structured as follows:
# data/
# ├── torrents/
# │   ├── movies/
# │   └── tv/
# └── media/
#     ├── movies/
#     └── tv/
#
# By keeping them under a single path (/data), Sonarr and Radarr can perform instant hardlinks.
MEDIA_ROOT=/mnt/media

# Optional Services Configuration
# By default, optional services (like qBittorrent) are disabled.
# Uncomment the line below to enable torrent downloads.
# COMPOSE_PROFILES=torrent
